* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: rgb(112, 106, 106);
  color: black;
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

.container {
  width: 90%;
  max-width: 800px;
  background-color: white;
  border-radius: 20px;
  padding: 2.5rem;
  box-shadow: #a39e9e;
  margin: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 32px;
}

.subtitle {
  font-size: 0.9rem;
  color: #242222;
  margin-bottom: 16px;
  text-align: center;
}

.input-container {
  margin-bottom: 20px;
}

#todoInput {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 2px solid black;
  outline: none;
  border-radius: 8px;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.filter-btn {
  padding: 8px 16px;
  background: white;
  border: 2px solid black;
  cursor: pointer;
  font-size: 14px;
  border-radius: 8px;
}

.filter-btn.active {
  background: black;
  color: white;
}

.todo-list {
  list-style: none;
}

.todo-item {
  border: 2px solid black;
  padding: 12px;
  margin-bottom: 10px;
  background: white;
  cursor: move;
  border-radius: 5px;
}

.todo-item.dragging {
  opacity: 0.5;
}

.todo-item.drag-over {
  border-style: dashed;
}

.todo-content {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.todo-checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.todo-text {
  flex: 1;
  font-size: 16px;
}

.todo-text.completed {
  text-decoration: line-through;
  color: gray;
}

.todo-actions {
  display: flex;
  gap: 8px;
}

.btn {
  padding: 6px 12px;
  border: 1px solid black;
  background: white;
  cursor: pointer;
  font-size: 12px;
  border-radius: 8px;
}

.btn:hover {
  background: black;
  color: white;
}

.subtask-input {
  width: 100%;
  padding: 8px;
  border: 1px solid black;
  font-size: 14px;
  margin-top: 8px;
  border-radius: 5px;
}

.subtasks {
  margin-left: 30px;
  margin-top: 10px;
}

.subtask {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 8px;
  background: white;
  border-radius: 5px;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }
}
